@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171e3a;
  font-family: "Archivo", sans-serif;
}

/* 2e333d */

/* Loader */

.loader {
  width: 75px;
  height: 50px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  border-radius: 100%;
}
.loader:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-top: 15px solid #fff;
  transform: rotate(45deg);
  top: 40px;
  left: 5px;
}

.loader:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #171e3a;
  box-shadow:
    20px 0 #171e3a,
    -20px 0 #171e3a;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #585d6d;
    box-shadow:
      20px 0 #585d6d,
      -20px 0 #171e3a;
  }
  50% {
    background-color: #171e3a;
    box-shadow:
      20px 0 #585d6d,
      -20px 0 #585d6d;
  }
  100% {
    background-color: #585d6d;
    box-shadow:
      20px 0 #171e3a,
      -20px 0 #585d6d;
  }
}

/* Custom scrollbar styles */
.chat-scroll {
  overflow-y: auto; /* Add scrollbars only when content overflows */
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #cccccc #171e3a;
}

/* Webkit (Chrome, Safari) scrollbar styles */
.chat-scroll::-webkit-scrollbar {
  width: 1px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}

.chat-scroll::-webkit-scrollbar-track {
  background-color: #171e3a;
}

/* Firefox scrollbar styles */
.chat-scroll {
  scrollbar-color: #cccccc #171e3a;
  scrollbar-width: thin;
}

/* Microsoft Edge and Internet Explorer scrollbar styles */
.chat-scroll {
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1 #171e3a;
}

/* Message Loader */

/* .mloader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: #fff;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow:
      -20px -6px,
      -10px 0,
      10px 0;
  }
  33% {
    box-shadow:
      -20px 0px,
      -10px -6px,
      10px 0;
  }
  66% {
    box-shadow:
      -20px 0px,
      -10px 0,
      10px -6px;
  }
  100% {
    box-shadow:
      -20px 0,
      -10px 0,
      10px 0;
  }
} */
.mloader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 2px;
  transform: translateY(0);
  animation: animDot 0.6s cubic-bezier(0.5, 0.05, 0.5, 0.05) infinite alternate;
}

@keyframes animDot {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

.dot:nth-child(4) {
  animation-delay: 0.3s;
}
